html
body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	background: #070707 url(../images/background-img.jpg) no-repeat center top;
}
.inner-page {
	color: #000;
	
	background: #f8f3f0 url(../images/pattern-white.png) repeat;
}
.head {
	background: #000;
	margin-bottom: 60px;
}
.inner-page .head {
	margin-bottom: 55px;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}
.menu {
	float: left;
	width: 780px;
}
.menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.menu li{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 20px;
}
.menu a{
	display: block;
	color: #fff;
	padding: 25px 20px;
	text-decoration: none;
}
.head a:hover {
	background: #242424;
}
.head .active {
	position: relative;
	
	background-color: none;
}
.head .active::after {
	content: "";
	position: absolute;
	right: 20px;
	bottom: 0;
	left: 20px;
	
	height: 5px;
	
	background-color: #fff;
	
}
.head .active:hover{
	background: none;
}
.head .active span {
	display: block;
	padding: 25px 20px;
	color: #fff;
}
.head .logo-inner {
	float: left;
	height: 24px;
	width: 111px;
	padding-top: 21px;
}
.head .logo-inner img {
	width: 111px;
	height: 24px;
}
.head .logo-inner:hover {
	background: none;
}
.user-menu {
	float: right;
	max-width: 140px;
	
}
.login {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 25px 20px;
	padding-left: 50px;
	line-height: 20px;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
}
.login::before {
	content: "";
	position: absolute;
	top: 28px;
	left: 20px;
	width: 18px;
	height: 18px;
	background: url(../images/sprite.png) no-repeat -32px 0;
	opacity: 0.3;
}
.login::before:hover{
	opacity: 1;
}
.index-logo {
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom: 25px;
}
.index-logo img {
	width: 368px;
	height: 204px;
}
.features {
	margin-bottom: 80px;
}
.features-item {
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	float: left;
	width: 300px;
	margin-right: 20px;
	color: #fff;
	text-align: center;
}
.features-item:last-child {
	margin-right: 0;
}
.features-name {
	display: block;
	position: relative;
	margin-bottom: 30px;
	padding-bottom: 35px;
	font-size: 30px;
	line-height: 42px;
}
.features-item p {
	margin: 10px;
	margin-bottom: 0;
}
.features-name::after{
	content: "";
	
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 20px;
	height: 20px;
	background-color: #fff;
	margin-left: -10px;
	transform: rotate(45deg);
}
.index-content {
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: #000;
	padding: 50px 80px;
	margin-bottom: 35px;
	background: 
	url("../images/shadow.png") no-repeat center,
	#f8f5f2 url("../images/pattern-white.png");
}
.index-content-left {
	width: 380px;
	float: left;
}
.index-content-right {
	width: 300px;
	float: right;
}
.index-content-title {
	margin: 0;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 42px;
}
.index-content p {
	margin: 0;
	margin-bottom: 25px;
}
.news-preview {
	margin: 0;
	padding: 0;
	padding-right: 35px;
	list-style: none;
}
.news-preview li{
	margin-bottom: 25px;
}
.news-preview p{
	margin-bottom: 0;
}
.news-preview time {
	text-transform: none;
	font-weight: 400;
}
.btn {
	display: inline-block;
	margin-right: 16px;
	padding: 10px 33px;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	text-transform: uppercase;
	vertical-align: top;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background-color: #000;
	border: none;
	outline: none;
	cursor: pointer;
}
.btn:active,
.btn:hover {
	background: #663d15;
}
.btn.disabled,
.btn:disabled {
	cursor: default;
	opacity: 0.5;
}
.btn.disabled:hover,
.btn:disabled:hover {
	background: #000;
}
.gallery {
	position: relative;
	height: 260px;
}
.gallery-content{
	height: 164px;
	margin: 0;
	background: #ccc;
	border: 7px solid #fff;
}
.gallery-content img {
	height: 164px;
	width: 286px;
}
.gallery .btn {
	position: absolute;
	bottom: 0;
	width: 140px;
	margin: 0;
}
.gallery-prev {
	left: 0;
}
.gallery-next {
	right: 0;
}
.appointment-form input{
	float: left;
	width: 106px;
	padding: 7px 15px;
	margin-right: 20px;
	margin-bottom: 20px;
	
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	
	background: #f9f6f3;
	border: 2px solid #000;
	outline: none;
}
.appointment-form input:focus {
	border: 2px solid #663d15;
}
.appointment-form input:nth-child(even){
	margin-right: 0;
}
.appointment-form .btn{
	clear: both;
	width: 100%;
}

/* Стили внутренних страниц */
.inner-page-title {
	margin-bottom: 55px;
}
.inner-page-title h1 {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	
	font-size: 30px;
	line-height: 42px;
}
.breadcrumbs {
	margin: 0;
	padding: 0;
	
	list-style: none;
}
.breadcrumbs li {
	position: relative;
	
	display: inline;
	padding-right: 40px;
}
.breadcrumbs li::after {
	content: "";
	position: absolute;
	top: 4px;
	right: 18px;
	
	width: 8px;
	height: 8px;
	
	background-color: #000;
	transform: rotate(45deg);
}
.breadcrumbs a {
	color: #000;
	text-decoration: none;
}
.breadcrumbs a:hover {
	text-decoration: underline;
}
.breadcrumbs .current {
	color: #aba9a7;
}
.breadcrumbs .current::after {
	display: none;
}
/*Общие стили для контентных тегов*/

.inner-content {
	margin-bottom: 75px;
}
.inner-content h2 {
	margin-top: 60px;
	margin-bottom: 30px;
	
	font-size: 24px;
	line-height: 30px;
}
.inner-content p {
	margin: 14px 0;
}
.inner-content table {
	border-collapse: collapse;
}
.inner-content td {
	padding: 10px 15px;
	
	border: 2px solid #000;
}
.big-heading {
	margin-top: 55px;
	margin-bottom: 65px;
	
	text-align: center;
}
.big-heading h2{
	position: relative;
	z-index: 2;
	
	display: inline-block;
	margin: 0;
	padding: 0 25px;
	
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	background: #f8f3f0 url(../images/pattern-white.png) repeat;
}
.big-heading::after {
	content: "";
	position: relative;
	top: -24px;
	z-index: 1;
	
	display: block;
	
	border-bottom: 2px solid #000;
}
.custom-list-1 {
	margin: 14px 0;
	padding: 0;
	
	list-style: none;
}
.custom-list-1 li {
	position: relative;
	
	margin-bottom: 15px;
	padding-left: 20px;
}
.custom-list-1 li::before {
	content: "";
	position: absolute;
	top: 6px;
	left: 0;
	
	width: 8px;
	height: 8px;
	
	background-color: #000;
	transform: rotate(45deg);
}
.price-table {
	width: 100%;
}
.price-table td {
	width: 50%;
}
.price-table td:last-child {
	text-align: center;
}
.short-text {
	padding-right: 80px;
}
/*Колонки для контента*/

.inner-columns {
	margin: 60px 0;
}
.inner-columns-left,
.inner-columns-right {
	width: 460px;
}
.inner-columns-left {
	float: left;
}
.inner-columns-right {
	float: right;
}
.inner-columns-left *:first-child,
.inner-columns-right *:first-child {
	margin-top: 0;
}
.inner-columns-left *:last-child,
.inner-columns-right *:last-child {
	margin-bottom: 0;
}


.main-footer {
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
	
	color: #fff;
	background: #252525 url(../images/pattern-black.png)
}
.footer-contacts {
	float: left;
	width: 320px;
	margin-right: 60px;
}
.footer-contacts a {
	color: #fff;
}
.footer-contacts a:hover {
	text-decoration: none;
}
.footer-social {
	float: left;
	width: 180px;
	text-align: center;
}
.footer-copyright {
	float: right;
	max-width: 180px;
}
.footer-social p {
	margin: 0;
	margin-bottom: 15px;
}
.social-btn {
	display: inline-block;
	width: 43px;
	height: 43px;
	margin: 0 2px;
	
	font-size: 0;
	vertical-align: top;
	text-decoration: none;
	
	background: #000 url(../images/sprite.png) no-repeat center;
	transition: 
		background-position 0.5s,
		background-color 0.5s;
}
.social-btn:hover {
    background-color: #fff;
}

.social-btn-vk {
    background-position: -99px 12px;
}

.social-btn-fb {
    background-position: -141px 8px;
}

.social-btn-inst {
    background-position: -178px 10px;
}

.social-btn-vk:hover {
    background-position: -102px -40px;
}

.social-btn-fb:hover {
    background-position: -58px 10px;
}

.social-btn-inst:hover {
    background-position: -178px -38px;
}
.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;
	
    text-align: center;
}
.footer-copyright .btn {
	margin-right: 0;
}
.footer-copyright .btn:hover {
	color: #000;
	
	background: #fff;
}
/*Всплывающая форма*/

.modal-content {
	position: fixed;
	top: 120px;
	left: 50%;
	z-index: 30;
	
	width: 300px;
	margin-left: -230px;
	padding: 50px 80px;
	display: none;
	
	color: #000;
	
	background: #f8f3f0 url("../images/pattern-white.png");
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
@keyframes bounce {
	0% {transform: translateY(-2000px);}
	70% {transform: translateY(30px);}
	90% {transform: translateY(-10px);}
	100% {transform: translateY(0);}
}
@keyframes shake {
	0%, 100% { transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% { transform: translateX(-10px);}
	20%, 40%, 60%, 80% { transform: translateX(10px);}
}
.modal-error {
	animation: shake 0.6s;
}
.modal-content-map {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 20;
	
	width: 766px;
	height: 561px;
	margin-top: -280px;
	margin-left: -390px;
	display: none;
	
	background: #e9e5dc url(../images/modal-map.png);
	border: 7px solid white;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
.modal-content-show {
	display: block !important;
	animation: bounce 0.6s;
}
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10px;
	
	display: none;
	width: 100%;
	height: 100%;
	
	background: rgba(0, 0, 0, 0.5);
}
.modal-content-close {
	position: absolute;
	top: 0;
	right: -34px;
	
	width: 22px;
	height: 22px;
	
	font-size: 0;
	
	background-color: transparent;
	border: 0;
	outline: 0;
	cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 2px;
	
	width: 19px;
	height: 3px;
	background-color: #d0d0d0;
	border-radius: 1px;
}
.modal-content-close::before {
	transform: rotate(45deg);
}
.modal-content-close::after {
	transform: rotate(-45deg);
}
.modal-content h2 {
	margin: 0;
	margin-bottom: 20px;
	
	font-size: 32px;
	line-height: 42px;
}
.modal-content p {
	margin: 0;
	margin-bottom: 14px;
}
.modal-content .login-form {
	margin-top: 30px;
	margin-bottom: 10px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
	width: 236px;
	margin: 0;
	margin-bottom: 10px;
	padding: 10px 20px;
	padding-right: 40px;
	
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	
	background-color: #f9f6f3;
	border: 2px solid #000;
	outline: none;
}
.login-form input:focus {
	border-color: #663d15;
}
.login-form input.icon-user {
	background: url(../images/sprite.png) no-repeat 310% 15px;
}
.login-form input.icon-password {
	background: url(../images/sprite.png) no-repeat 310% -40px;
}
.login-form .restore {
	float: right;
	color: #000;
}
.login-form .btn {
	width: 100%;
	margin-top: 15px;
}
.login-checkbox input[type="checkbox"] {
	display: none;
}
.login-checkbox {
	position: relative;
	
	padding-left: 30px;
	
	cursor: pointer;
}
.login-checkbox:hover {
	color: #663d15;
}
.login-checkbox input[type="checkbox"] +
.checkbox-indicator {
	position: absolute;
	top: -1px;
	left: 0;
	
	width: 17px;
	height: 17px;
	
	border: 2px solid #000;
}
.login-checkbox input[type="checkbox"]:checked +
.checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked +
.checkbox-indicator::after {
	content: "";
	position: absolute;
	top: 8px;
	left: 1px;
	
	width: 15px;
	height: 2px;
	
	background-color: #000;
}
.login-checkbox input[type="checkbox"]:checked +
.checkbox-indicator::before {
	transform: rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked +
.checkbox-indicator::after {
	transform: rotate(-45deg);
}